@font-face {
    font-family: csj;
    src: url(/fonts/ZhiMangXing-Regular.ttf);
}
body{
    font-family: "csj";
}

.title{
    text-align: center;
    position: relative;
}
.title h1{
    font-size: 20px;
    font-weight: 10px;
}
.title p{
    font-size: 10px;
}
input{
    height: 30px;
    width: 600px;
}
#name{
   display: flex;
   flex-direction: column;
   margin-left: 200px;
   font-size: 15px;
}
#email{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    font-size: 15px;
}
#num{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    font-size: 15px;
}
#text1{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    font-size: 15px;
}
#imp{
    width: 600px;
    height: 200px;}
    #text2 {
      text-align: center;
      font-size: 10px;
    }
    #btn{
      height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    #sent{
        border: none;
        border-radius: 0;
        color: white;
        background-color: black;
        padding: 10px 40px;
        font-size: 10px;
    }
    .two{
        margin-top: 100px;
        height: 300px;
        background-color: white;
    }
    #box20{
        background-color:rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        width: 30vw;
        padding-left: 50px;
        justify-content: space-between;
        height: 300px;
        font-size: 10px;
        font-weight: 300px;
        }
        #box20 a{
            text-decoration: none;
            color: black;
        }
        .inform{
            width: 300px;
        }
        .two{
            display: flex;
        }
        #box21{
        background-color:white;
        display: flex;
        flex-direction: column;
        width: 100vw;
        justify-content: space-between;
        height: 300px;
        font-size: 10px;
        font-weight: 300px;
        width: 300px;
        }
        #box23{
            display: flex;
            gap: 50px;
            margin-top: 150px;
        }
        .box23-img{
            height: 100px;
            width: 100px;
        }
        #box23-1{
            text-align: center;
        }
        #box23-2{
            text-align: center;
        }
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    