/* title */
html{
    background-color: aliceblue;
    height: 100%;
    width: 100vw;
    top: 0px;
}
.title{
    text-align: center;
}
.title h1{
    font-size: 20px;
}
.title p{
    font-size: 10px;
    color: rgb(73, 77, 75);
}
/* main */
.all{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
    gap: 10px;
}
.head{
    background-color: rgb(240, 244, 248);
    height: 20px;
    display: flex;
    align-items: center;
    margin: 0px 40px;
}
.main{
    background-color: white;
    height: 70px;
    margin: 0px 40px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
}
